{template header}
<br>
<style type=text/css>
	h3{color:#98fb98;}
</style>
<div id="campfire_changelog" style="width:60%; margin:0 auto; text-align:left; font-size:15px; line-height:22px;">
<br>
<font size="5" class="orange"><b>DTS N.E.W 篝火模组 特性介绍 兼 更新日志</b></font><br>
<font size="2" class="grey">DTS N.E.W - Campfire/Kagari MOD</font><br><br>
<hr><br>
<img src="./img/campfire_notrubbit.gif" style="float:left"/>
<audio loop="loop" controls="controls">
<source src="img/other/changelog.mp3" type="audio/mpeg">
<source src="img/other/changelog.ogg" type="audio/ogg">
</audio>
<font class="yellow b"><br><br>“呀……突然让在下来担当解说什么的……实在太难为豚啦……”<br>
“在下可是完全不知道情况……啊啊……你说已经开始录制了……！？”</font><br>
<div style="clear:both;"></div><br>
<hr>
<p>
<font class="yellow b">
咳咳，那么，这里就由在下来为大家介绍一下篝火模组所包含的功能，以及本服的特色吧。<br>
首先需要介绍的，就是篝火模组所添加的一些新内容，它们分别是（点击内容名称可以快速跳转）：<br>
</font><br>
<TABLE border="1" frame="border" class=menutbl cellSpacing=0 cellPadding=0 style="BORDER-COLLAPSE:collapse width:50%" >
	<TBODY>
		<tr>
			<td class="b1" style="width:20%" >
				<span>所属模块</span>
			</td>
			<td class="b1" style="width:50%" >
				<span>模块功能</span>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>区域功能模块</span>
			</td>
			<td class="b3" style="text-align:left">
				<A href="Campfire_new_features.php#控制台">·<span>【无月之影 - 幻境系统控制台】</span></A>／
				<A href="Campfire_new_features.php#仓库">·<span>【精灵中心 - 仓储查询中心】</span></A>／
				<A href="Campfire_new_features.php#枪械改造">·<span>【FARGO前基地 - 枪械改造工作台】</span></A>/
				<A href="Campfire_new_features.php#陷阱改造">·<span>【和田町研究所 - 陷阱改造工作台】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>特殊道具模块</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="Campfire_new_features.php#枪械部件">·<span>【道具 - 枪械部件】</span></A>／  
				<A href="Campfire_new_features.php#精密仪器">·<span>【道具 - 精密仪器】</span></A>／  
				<A href="Campfire_new_features.php#动力装甲">·<span>【防具 - 动力装甲】</span></A>／  
				<A href="Campfire_new_features.php#传送设备">·<span>【道具 - 传送设备】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>道具类资源层杂项</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="Campfire_new_features.php#合成">·<span>【新增及修改合成】</span></A>／  
				<A href="Campfire_new_features.php#商店道具">·<span>【新增及修改商店道具】</span></A>／  
				<A href="Campfire_new_features.php#属性">·<span>【新增属性】</span></A>／  
				<A href="help.php#物品掉落表">·<span>【新增及修改地图物品】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>NPC类资源层杂项</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="help.php#篝火NPC简介">·<span>【新增及修改NPC】</span></A>／  
				<A href="Campfire_new_features.php#地图">·<span>【新增及修改地图】（暂无）</span></A>  
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>更新日志</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="Campfire_new_features.php#更新日志">·<span>【更新日志：按时间轴倒序】</span></A> 
			</td>
		</tr>
	</TBODY>
</TABLE>
</p>
<hr>
<p>
	<font size="4" class="lime b">区域功能模块</font>
	<p>
		区域功能模块是让某些地图区域带有特殊功能的模块。<br>
		想了解每个这些特殊功能具体是什么，请继续阅读下方的内容：<br>
	</p>
	<hr><a name="控制台"></a>
	<p>
		<font size="3" class="seagreen b">无月之影 - 幻境系统控制台</font><br>
		<p>
			当玩家的位置处于无月之影时，菜单界面下方会出现一个较宽的按钮，上面写着“幻境系统控制台”。<br>
			要激活控制台功能，需要同时满足两个条件：<br>
		</p>
			<ul>
				<li><font class="yellow b">条件1：NPC【红杀菁英 红暮】已被击败</font></li>
				<li><font class="yellow b">条件2：玩家身上必须至少有一个名为【能量核心】的道具</font></li>
			</ul>
		<p>
			当玩家满足这两个条件时，就可以点击按钮，激活控制台的操作面板了。<br>
		</p>

		<p>
			无月之影的控制台提供了以下功能（实际操作方式以游戏内的提示为准！）：
		</p>
			<ul>
				<li><font class="lime">【天气模拟功能】</font>：
					该功能会为玩家提供一个可以选择所有天气的列表，玩家在选择并提交后可以立刻修改当前游戏的天气至所选天气。</li>
				<br>
				<li><font class="lime">【限定解除功能】</font>：
					选择该功能后，会使当前游戏进入限定解除状态，再次使用将关闭限定解除状态。
					限定解除时，如满足连斗条件，游戏会进入人数已满状态，此时，当场上只有一名玩家存活时，游戏会在下次禁区到来时结束！</li>
				<br>
				<li><font class="lime">【资料查找功能】</font>：
					选择该功能后，该功能会为玩家提供四种资料类别：
					【查找NPC】、【查找玩家】、【查找道具】和【查找陷阱】。
					玩家在选择并输入要查找资料的名称并提交后，可以查找到对应的内容，具体操作方式在游戏中有详细的说明。</li>
				<br>
				<li><font class="lime">【生成原始数据】</font>：
					该功能将释放特殊的【虚拟体类NPC】乱入幻境战场，
					虚拟体类NPC强度较高，且装备有【动力装甲】，但击破后也能获得对于PVE流程相当有帮助的道具。
					因此，请自行斟酌是否要使用本功能。</li>
				<br>
				<li><font class="lime">【拷贝便携子端】</font>：
					选择该功能后，玩家会获得一个名为【便携式子端】的道具，该道具可无限次使用，且除了查找信息功能外，每次使用不需要消耗能量核心。
					该道具提供了【查找资料】、【提前禁区】、【解除禁区】、【雷达】四个功能，想要了解更多的内容，请在游戏尝试使用这个道具吧！</li>
			</ul>
		<p>
			使用以上任意一项功能，每次将消耗一颗【能量核心】。<br>
			<font class="grey"><del>但需要注意的是，在不满足条件1的情况下，尝试使用该控制台将会导致不可预料的后果……</del></font><br>
			<font class="ltcrimson b">“这是在乱说些什么啊……？我们可不会在这上面动什么手脚哦！！”——不愿透露姓名的雇佣兵留</del></font><br>
		</p>
	</p>
	<hr><a name="仓库"></a>
	<p>
		<font size="3" class="seagreen b">精灵中心 - 仓库查询中心</b></font><br>
		<p>
			当玩家的位置处于精灵中心时，菜单界面下方会出现一个较宽的按钮，上面写着“仓库查询中心”。<br>
			该仓库会为玩家提供<font class="yellow b">【存放道具】</font>和<font class="yellow b">【取出道具】</font>的功能。<br>
			每次进行存取操作都需要支付<font class="yellow b">手续费</font>和<font class="yellow b">保管费</font>，玩家可存放在仓库内的道具数量也是<font class="yellow b">有限的</font>，这些限制可在游戏中看到具体数值。<br>
			玩家存入的<font class="yellow b">同类型道具不会叠加</font>，需要玩家在存放前自行进行整理。<br>
		</p>
	</p>
	<hr><a name="枪械改造"></a>
	<p>
		<font size="3" class="seagreen b">Fargo前基地 - 枪械工坊</font><br>
		<p>
			当玩家的位置处于Fargo前基时，菜单界面下方会出现一个较宽的按钮，上面写着“枪械改造工作台”。<br>
			使用该功能，可以让玩家对装备着的<font class="yellow b">射系武器（远程武器、重型枪械、枪刃、重炮）</font>进行改造。<br>
			改造分为<font class="yellow b">【改造枪械】</font>和<font class="yellow b">【修复枪械】</font>，这两项功能的区别请继续阅读下面的内容。<br>
		</p>
		<ul>
			<li><font class="lime">【改造枪械】</font>：<br>
				- 当玩家背包内存在一种<font class="yellow b">枪械部件</font>时，可在改造菜单中选择它。<br>
				- 选择好要为枪械添加的部件并提交后，系统会计算出<font class="yellow b">改造的成功率</font>，并询问是否确认要进行改造；<br>
				- 枪械改造的成功率与玩家的<font class="yellow b">射系熟练</font>与<font class="yellow b">改造方式</font>有关；<br>
				- 改造成功会使武器拥有枪械部件上<font class="yellow b">与武器已有属性不重复</font>的属性，并增加一定的效果（取决于枪械部件的效果和为武器添加的属性）；<br>
				- 改造失败会使武器<font class="yellow b">降低一定的效果</font>，当效果低于<font class="red b">1</font>时，将有概率使武器获得<font class="yellow b">一发</font>属性。</li>
			<br>
			<li><font class="lime">【修复枪械】</font>：<br>
				- 当玩家的背包中存在<font class="yellow b">【射系武器】</font>或<font class="yellow b">【修复素材】</font>（请在游戏内查看可用素材列表）时，可选择修复枪械。<br>
				- 在修复菜单下，玩家可以选择<font class="yellow b">【增加武器的效果】</font>或是<font class="yellow b">【去除武器上的某个属性】</font>；<br>
				- 选择好要修复的内容并提交后，会<font class="yellow b">直接开始修复</font>，无法看到成功率，所以在提交之前要仔细考虑；<br>
				- 修复枪械的成功率与玩家的<font class="yellow b">射系熟练</font>与<font class="yellow b">使用的修复素材</font>有关；<br>
				- 修复失败会使武器的效果<font class="red b">下降</font>。</li>
		</ul>
		<p>
			<a href="./aboutransforgun.md"><font class="lime b">【 >>> 这里是枪械改造成功率计算方式，请有需要的玩家请点击后自行阅读 <<< 】</font></a><br>
		</p>
	</p>
	<hr><a name="陷阱改造"></a>
	<p>
		<font size="3" class="seagreen b">和田町研究所 - 陷阱改造</font><br>
		<p>
			当玩家的位置处于和田町研究所时，菜单界面下方会出现一个较宽的按钮，上面写着“陷阱改装工作台”。<br>
			使用该功能，可以让玩家对背包中的<font class="yellow b">陷阱或爆炸物</font>进行改造。<br>
			改造分为<font class="yellow b">【改造陷阱】</font>和<font class="yellow b">【改造爆炸物】</font>。<br>
		</p>
		<ul>
			<li><font class="lime">【改造陷阱】</font>：<br>
				- 当玩家背包内存在一种<font class="yellow b">类型为陷阱</font>的道具时，可在改造菜单中选择它。<br>
				- 改造可以将该陷阱<font class="red b">全部</font>改造成可装备的<font class="yellow b">爆炸物武器</font>；<br>
				- 武器的效果、耐久与陷阱的效果、耐久<font class="yellow b">一致</font>，属性为<font class="yellow b">爆炸</font>；<br>
				- 改造失败会会导致玩家受到<font class="red b">与陷阱效果相关的伤害</font>，严重者还会导致<font class="red b">死亡</font>；<br>
				- 改造的成功率与玩家的<font class="yellow b">爆系熟练</font>有关。</li>
			<br>
			<li><font class="lime">【改造爆炸物】</font>：<br>
				- 当玩家背包内存在一种<font class="yellow b">类型为爆炸物</font>的武器时，可在改造菜单中选择它。<br>
				- 改造可以将该爆炸物<font class="red b">全部</font>改造成<font class="yellow b">陷阱</font>；<br>
				- 陷阱的效果等于<font class="yellow b">武器效果乘以耐久（耐久大于5或为∞均按5处理）</font>，耐久固定为<font class="yellow b">1</font>；<br>
				- 改造失败会会导致玩家受到<font class="red b">与爆炸物效果相关的伤害</font>，严重者还会导致<font class="red b">死亡</font>；<br>
				- 改造的成功率与玩家的<font class="yellow b">爆系熟练</font>有关。</li>
		</ul>
	</p>
</p>
<hr>
<p>
	<font size="4" class="lime b">特殊道具模块</font>
	<p>
	特殊道具就是那些新添加的道具类别。<br>
	想了解它们都有什么作用，请继续阅读下方的内容：<br>
	</p>
	<hr><a name="枪械部件"></a>
	<p>
		<font size="3" class="seagreen b">道具 - 枪械部件</font><br>
		<p>
			枪械部件是一种可使用道具，如果玩家装备的武器为射系武器的话，就可以为你的枪械增加新的属性。<br>
			开启<font class="yellow b">弹药盒、军火盒、以及其他枪械类盒子</font>可以直接获得枪械部件，它们可以也通过<font class="yellow b">商店购买/NPC掉落/地图刷新</font>等方式获得。<br>
			更详细的介绍，请参考<A href="Campfire_new_features.php#areafeatures_transforgun">【Fargo前基地 - 枪械工坊】</A>。<br>
		</p>
	</p>
	<hr><a name="精密仪器"></a>
	<p>
		<font size="3" class="seagreen b">道具 - 精密仪器</font><br>
		<p>
			精密仪器是一种可使用道具，游戏中常见的精密仪器介绍如下：
		</p>
		<ul>
			<li><font class="yellow b">便携式控制中心子端</font>：<br>
			- 作用与获得方式请见<A href="Campfire_new_features.php#areafeatures_transforgun">【无月之影 - 幻境系统控制台】</A>。</li>			
			<li><font class="yellow b">动力装甲修复工具</font>：<br>
			- 可在商店中购买。用于增加各个部位动力装甲的耐久值，需要使用【金属材料】进行填充。</li>			
			<li><font class="yellow b">迷你纺织者「睡美人」</font>：<br>
			- 可在商店中购买的道具，用于增加身体防具的效果值，需要使用【针线包】进行填充。可以对带有菁英属性的防具及动力装甲生效。</li>			
			<li><font class="yellow b">灵能圆盘「寻物者」</font>：<br>
			- 可在商店中购买的<font class="grey b">诅咒</font>道具，需要使用【灵能人形】进行填充。使用后可控制寻物者帮助你搜索地图上的道具。</li>
			<li><font class="yellow b">再启动指令集</font>：<br>
			- 在商店中购买的道具，仅在场上只剩下一名幸存者的非房间模式（或荣誉/极速模式）下才可使用，可以快速结束游戏。<br>
				- 附加条件A：允许加入游戏时，游戏已开局10分钟以上，使用者未选择称号；<br>
				- 附加条件B：不可加入游戏时，游戏已开局30分钟以上。<br></li>
		</ul>
	</p>
	<hr><a name="动力装甲"></a>
	<p>
		<font size="3" class="seagreen b">防具 - 动力装甲</font>
		<p>
			动力装甲是一种【可装备防具】，当你在一件防具上发现类似于【A级】的属性，那该防具就是一件【动力装甲】的套件。<br>
			动力装甲目前可以通过【特殊NPC掉落】的方式获得。<br>
			玩家每装备【一件动力装甲】，即可根据<font class="yellow b">装备的部位数量</font>与<font class="yellow b">动力装甲的等级</font>获得<font class="yellow b">最高80%的伤害减免</font>。<br>
			当然这些伤害减免是需要<font class="yellow b">消耗动力装甲的耐久</font>来抵消的。<br>
			值得注意的是，如果装备的防具中带有<font class="yellow b">控血</font>属性的话，动力装甲伤害减免的判定是在<font class="yellow b">控血生效后</font>进行的。<br>
			除了抵消伤害的功能外，不同部位的动力装甲还能提供以下的额外效果：<br>
		</p>
		<ul>
			<li>【身体装甲】：装备后可减少在抵消伤害时降低的耐久量</li>
			<li>【头部装甲】：在作战/偷袭/强袭状态下增加你的【遇敌率】、【先手率】；在探索状态下，增加你的【道具发现率】</li>
			<li>【手部装甲】：增加你攻击时的【命中率】</li>
			<li>【腿部装甲】：降低你移动和探索时消耗的体力</li>
		</ul>	
	</p>
	<hr><a name="传送设备"></a>
	<p>
		<font size="3" class="seagreen b">道具 - 传送设备</font><br>
		<p>
			传送设备是一种可使用道具，如果传送器属性有效（玩家不可见）的话，会将玩家传送到指定位置。<br>
			属性为空或无效的情况下，会将玩家传送至<font class="yellow b">当前地图上未被禁区的区域</font>。<br>
			目前的获得方式为：<font class="yellow b">无</font>。<br>
		</p>
	</p>
</p>
<hr>
<p>
	<font size="4" class="lime b">道具类资源层杂项</font>
	<p>
		这部分介绍新增及修改的合成、商店道具、地图物品以及新增的属性。<br>
		想了解这些新增的内容，请继续往下阅读：<br>
	</p>
	<hr><a name="合成"></a>
	<p>
		<font size="3" class="seagreen b">新增及修改合成</font><br>
		<ul>
			<li><font class="yellow b">窜 天 猴</font> = 地雷 + 打火机<br>
			- 使用后可将当前天气更改为<font class="yellow b">大晴</font>。</li>			
			<li><font class="yellow b">鸳鸯锅「涮鱼」</font> = 油炖萌物「石斑」 + 油炖萌物「金鲤」<br>
			- 高级补给品。<font class="red b">“鸳鸯锅是我最后的底线。”——某某人</font>。</li>			
			<li><font class="yellow b">灵能人形</font> = 雏人形 + 空白符卡<br>
			- 使用后可填充寻物者。</li>			
			<li><font class="yellow b">魔性圆盘「寻物者」</font> = 灵能圆盘「寻物者」 + 悲叹之种<br>
			- 你不可能摆脱这件装备的<font class="red b">诅咒</font>。</li>			
			<li><font class="yellow b">自适应型溶剂TA-E3</font> = 自适应型溶剂TA-Z9 + 自适应型溶剂TA-Y5 + 自适应型溶剂TA-X3<br>
			- 使用后可使称号变更为「天赋异禀」并学习该称号的技能，会失去原有的称号技能，并获得<font class="red b">当前等级一半</font>的技能点。</li>			
			<li><font class="yellow b">自适应型溶剂TA-C3</font> = 自适应型溶剂TA-E3 + 自适应型溶剂TA-E3<br>
			- 使用后可使称号变更为「天赋异禀」并学习该称号的技能，会失去原有的称号技能，并获得<font class="red b">当前等级全部</font>的技能点。</li>			
			<li><font class="yellow b">自适应型溶剂TA-00</font> = 自适应型溶剂TA-C3 + 自适应型溶剂TA-C3 + 自适应型溶剂TA-C3<br>
			- 使用后可使称号变更为「天赋异禀」并学习该称号的技能，会失去原有的称号技能，并获得<font class="red b">当前等级1.5倍</font>的技能点。</li>			
			<li><font class="yellow b">？？？</font> = （荣耀 + 光辉） + （ 虔诚 + 奉献 ）<br>
			- 能让成功合成的玩家激动的流下眼泪的珍贵道具。</li>
		</ul>
	</p>
	<hr><a name="商店道具"></a>
	<p>
		<font size="3" class="seagreen b">新增及修改商店道具</font><br>
		<br>
		<font class="lightpink">【恶鱼■■特供】：</font><br>
			这是G.S.D后勤部从迷之供货源中获得的进货表单……表单上的道具目前正在幻境系统中试售。<br>
			这些道具对于改善你的游戏体验<font class="grey"><del>大概</del></font>很有帮助！<br>
		<ul>
			<li><font class="yellow b">再启动指令集</font>：<br>
			- <A href="Campfire_new_features.php#精密仪器">0禁起售，快速重启用道具，点此查看详细介绍。</A></li>
			<li><font class="yellow b">油炖萌物「石斑」</font>：<br>
			- 0禁起售。<font class="red b">耐久无限的生命</font>恢复道具！</li>
			<li><font class="yellow b">油炖萌物「金鲤」</font>：<br>
			- 0禁起售。<font class="red b">耐久无限的体力</font>恢复道具！</li>
			<li><A href="https://www.bilibili.com/video/av10864216"><font class="yellow b">《都是按照基本定律》</font>：<br>
			- 0禁起售。在幻境模因库中非常流行的歌曲，教给了年轻人很多经验，可以增加你的歌魂。（不点一下试试吗？）</a></li>	
			<li><A href="https://www.bilibili.com/video/av2029310"><font class="yellow b">《六兆年的弃坑大法》</font>：<br>
			- 0禁起售。在幻境模因库中非常流行的歌曲，挽救了许多因切糕抽卡而想要放弃游戏的非洲战士，可以恢复你的歌魂。（不点一下试试吗？）</a></li>	
			<li><font class="yellow b">★单抽出货神话★</font>：<br>
			- 1禁起售，2禁追加库存。<font class="clan b">你相信神话吗……？</font></li>			
			<li><font class="yellow b">普通的弹药盒/朴素的军火箱/专业军械改造素材套组</font>：<br>
			- 0禁（1禁）起售。装有许多枪械改装部件的盒子，但里面装着什么在打开之前没人知道。</li>		
			<li><font class="yellow b">能量核心</font>：<br>
			- 0禁起售，1禁追加库存。可以给幻境系统中一些特殊装置提供能源的道具。</li>		
			<li><font class="yellow b">迷你纺织者「睡美人」</font>：<br>
			- <A href="Campfire_new_features.php#精密仪器">0禁起售。约两臂宽的纺锤体，快速打包用道具，点此查看详细介绍。</A></li>	
			<li><font class="yellow b">灵能圆盘「寻物者」</font>：<br>
			- <A href="Campfire_new_features.php#精密仪器">0禁起售。黄铜制的金属圆盘，可以派出寻物者的道具，点此查看详细介绍。</A></li>	
			<li><font class="yellow b">动力装甲修复工具</font>：<br>
			- <A href="Campfire_new_features.php#精密仪器">0禁起售。通体银白的金属盒，可以修复动力装甲，点此查看详细介绍。</A></li>	
			<li><font class="yellow b">金属材料</font>：<br>
			- 0禁起售。有着奇妙纹理的金属棒，似乎是以特殊工艺压制而成，是动力装甲修复工具所使用的素材。</li>	
			<li><font class="yellow b">天空熔炉的锻者之魂</font>：<br>
			- 1禁起售。<font class="yellow b">消耗品</font>。可将当前装备武器更改为<font class="yellow b">熟练度最高的类别</font>。</li>	
			<li><font class="yellow b">天空熔炉的远古之魂</font>：<br>
			- 1禁起售。<font class="yellow b">消耗品</font>。可固定增加当前装备武器的<font class="yellow b">1.5倍效果</font>。</li>	
			<li><font class="yellow b">天空熔炉的祝祷之魂</font>：<br>
			- 1禁起售。<font class="yellow b">消耗品</font>。可使当前装备武器的<font class="yellow b">类别发生奇妙的变化</font>。</li>	
		</ul>	
	</p>
	<hr><a name="属性"></a>
	<p>
		<font size="3" class="seagreen b">新增属性</font><br>
		<ul>
			<li><font class="yellow">【扩容】</font>：<br>
			- 使枪械类弹药上限在<font class="yellow b">原上限翻倍</font>的基础上再加<font class="yellow b">20</font>。可通过【安装枪械部件】获得。</li>
			<li><font class="yellow">【T/S/A/B/C/O级】</font>：<br>
			- 仅可在防具上出现的属性，证明该防具是一件<font class="yellow b">动力装甲的套件</font>。</li>
		</ul>
	</p>
</p>
<hr><a name="更新日志"></a>
<p>
	<font size="3" class="seagreen b">更新日志（按时间轴倒序）：</font><br>
	<h3>2019年02月25日</h3>
		<p>数据调整：</p>
		<ul>
			<li>增加了商店道具【能量核心】的库存量（1禁后新增）</li>
			<li>略微增加了灵能圆盘【寻物者】搜索道具需要花费的时间</li>
			<li>灵能圆盘【寻物者】现在将不会判断目标区域内是否存在目标道具</li>
		</ul>
		<p>其他更新：</p>
		<ul>
			<li>调整了更新日志的格式</li>
		</ul>
</p>
<hr>

</p>

</p>
</div>

{template footer}