{template header}
<br>

<div style="width:60%; margin:0 auto; text-align:left">
<br>
<font size="5" class="orange"><b>NEWD.T.S CampfireMOD 特性介绍 兼 更新日志</b></font><br>
<font size="2" class="grey">About this Coulorful MOD - The CampfireMOD</font><br><br>
<hr><br>
<img src="./img/campfire_notrubbit.gif" style="float:left"/>
<audio loop="loop" controls="controls">
<source src="img/other/changelog.mp3" type="audio/mpeg">
<source src="img/other/changelog.ogg" type="audio/ogg">
</audio>
<span class="yellow b"><br><br>“呀……突然让在下来担当解说什么的……实在太难为豚啦……”<br>
“在下可是完全不知道情况……啊啊……你说已经开始录制了……！？”</span><br>
<div style="clear:both;"></div><br>
<hr>
<p>
<span class="yellow b">
咳咳，那么，这里就由在下来为大家介绍一下CampfireMOD所包含的功能，以及本服的特色吧。<br>
首先需要介绍的，就是CampfireMOD所添加的一些新内容，它们分别是（点击内容名称可以快速跳转）：<br>
</span><br>
<TABLE border="1" frame="border" class=menutbl cellSpacing=0 cellPadding=0 style="BORDER-COLLAPSE:collapse width:50%" >
	<TBODY>
		<tr>
			<td class="b1" style="width:20%" >
				<span>所属模块</span>
			</td>
			<td class="b1" style="width:50%" >
				<span>模块功能</span>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>区域功能模块</span>
			</td>
			<td class="b3" style="text-align:left">
				<A href="Campfire_new_features.php#控制台">·<span>【无月之影 - 幻境系统控制台】</span></A>／
				<A href="Campfire_new_features.php#仓库">·<span>【精灵中心 - 仓储查询中心】</span></A>／
				<A href="Campfire_new_features.php#枪械改造">·<span>【FARGO前基地 - 枪械改造工作台】</span></A>/
				<A href="Campfire_new_features.php#陷阱改造">·<span>【和田町研究所 - 陷阱改造工作台】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>特殊道具模块</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="Campfire_new_features.php#枪械部件">·<span>【道具 - 枪械部件】</span></A>／  
				<A href="Campfire_new_features.php#精密仪器">·<span>【道具 - 精密仪器】</span></A>／  
				<A href="Campfire_new_features.php#动力装甲">·<span>【防具 - 动力装甲】</span></A>／  
				<A href="Campfire_new_features.php#传送设备">·<span>【道具 - 传送设备】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>道具类资源层杂项</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="Campfire_new_features.php#合成">·<span>【新增及修改合成】</span></A>／  
				<A href="Campfire_new_features.php#商店道具">·<span>【新增及修改商店道具】</span></A>／  
				<A href="Campfire_new_features.php#属性">·<span>【新增属性】</span></A>／  
				<A href="help.php#物品掉落表">·<span>【新增及修改地图物品】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>NPC类资源层杂项</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="help.php#篝火NPC简介">·<span>【新增及修改NPC】</span></A>／  
				<A href="Campfire_new_features.php#地图">·<span>【新增及修改地图】（暂无）</span></A>  
			</td>
		</tr>
	</TBODY>
</TABLE>
</p>
<hr>
<p>
<font size="4" class="seagreen b"><b> · 区域功能模块：</b></font><br>
<p>
区域功能模块是让某些地图区域带有特殊功能的模块。<br>
想了解每个这些特殊功能具体是什么，请继续阅读下方的内容：<br>
</p>
<hr>
<p>
<a name="控制台"><font size="3" class="seagreen b"><b>无月之影 - 幻境系统控制台：</b></font></a><br>
<p>
当玩家的位置处于无月之影时，菜单界面下方会出现一个较宽的按钮，上面写着“幻境系统控制台”。<br>
要激活控制台功能，需要同时满足两个条件：<br>
 <span class="yellow b">>  条件1：NPC红杀菁英 红暮已被击败<br>
>  条件2：玩家身上必须至少有一个名为“能量核心”的道具，能量核心会在1禁后的商店 - 电子设备中出售<br></span>
当玩家满足这两个条件时，就可以点击按钮，激活控制台的操作面板了。<br>
</p>
<p>
无月之影的控制台提供了以下功能：<br>
<span class="clan">·【天气模拟功能】：</span><br>
该功能会为玩家提供一个可以选择所有天气的列表，玩家在选择并提交后可以立刻修改当前游戏的天气至所选天气。<br>
<span class="clan">·【限定解除功能】：</span><br>
选择该功能后，会使当前游戏进入<span class="yellow b">限定解除状态</span>，若已处于该状态，可以<span class="yellow b">关闭</span>限定解除状态。<br>
限定解除状态下，游戏不会</span>进入<span class="yellow b">连斗状态</span>，<br>
但在<span class="yellow b">2禁</span>后，或游戏已处于<span class="yellow b">连斗状态</span>的情况下，游戏状态会变更为<span class="yellow b">停止激活</span>。<br>
在这一状态下，除了新玩家无法入场外，其他游戏内容与正常激活状态无异。<br>
但是要注意，在<span class="yellow b">停止激活</span>状态下，当场上<span class="yellow b">只有一名玩家存活时</span>游戏会在<span class="red b">下次禁区到来时结束</span>！<br>
<span class="clan">·【资料查找功能】：</span><br>
选择该功能后，该功能会为玩家提供四种资料类别，<br>
即<span class="yellow b">查找NPC、查找玩家、查找道具和查找陷阱</span>。<br>
玩家在选择并输入要查找资料的名称并提交后，可以查找到对应的内容，具体操作方式在游戏中有详细的说明。<br>
<span class="clan">·【生成原始数据】：</span><br>
选择该功能后，系统会在预设的列表中选择某几位NPC</span>，并将他们加入到游戏中，<br>
这些NPC<span class="yellow b">强度较高</span>，且装备有提供特殊效果的<span class="yellow b">动力装甲</span>类防具，但击破后也能获得对于PVE流程相当有帮助的道具。<br>
因此，请自行斟酌是否要使用本功能。<br>
<span class="clan">·【拷贝便携子端】：</span><br>
选择该功能后，玩家会获得一个名叫便携子端的道具，该道具可无限次使用。<br>
使用该道具，可以让<span class="yellow b">下一次禁区提前到来</span>，或者立刻<span class="yellow b">解除当前的禁区</span>。<br>
在其他时候，你可以将它当做能够探测所有NPC位置与<span class="yellow b">姓名</span>的<span class="yellow b">最强的电子雷达</span>来使用！<br>
使用子端不需要消耗能量核心。<br>
</p>
使用以上任意一项功能都会消耗一颗能量核心，取消操作不会消耗能量核心。<br>
<span class="grey"><del>需要注意的是，在不满足条件1的情况下，尝试使用该控制台将会导致不可预料的后果……<br></del></span>
<span class="ltcrimson b">“这是在乱说些什么啊……？我们可不会在这上面动什么手脚哦！！”——不愿透露姓名的雇佣兵留<br></del></span>
</p>
<hr>
<p>
<a name="仓库"><font size="3" class="seagreen b"><b>精灵中心 - 仓库查询中心：</b></font></a><br>
<p>
当玩家的位置处于精灵中心时，菜单界面下方会出现一个较宽的按钮，上面写着“仓库查询中心”。<br>
该仓库会为玩家提供<span class="yellow b">存放道具</span>和<span class="yellow b">取出道具</span>的功能，
每次存取都会收取<span class="yellow b">手续费</span>和<span class="yellow b">保管费</span>，以及<span class="yellow b">存放数量上限</span>，这些限制可在游戏中看到具体数值，<br>
所有玩家的仓库皆<span class="yellow b">独立</span>，其他人无法看到也无法取出你存入的道具。<br>
玩家存入的同类型道具<span class="yellow b">不会叠加</span>，需要玩家在存放前自行进行整理。<br>
可存放的道具的数量<span class="yellow b">具有上限</span>，该上限和手续费、保管费随时会发生变化，所以请到游戏内自行确认。<br>
</p>
</p>
<hr>
<p>
<a name="枪械改造"><font size="3" class="seagreen b"><b>Fargo前基地 - 枪械工坊：</b></font></a><br>
<p>
当玩家的位置处于精灵中心时，菜单界面下方会出现一个较宽的按钮，上面写着“枪械改造工作台”。<br>
使用该功能，可以让玩家对装备上的<span class="yellow b">射系武器（远程武器、重型枪械、枪刃、重炮）</span>进行改造。<br>
改造分为<span class="yellow b">改造枪械</span>和<span class="yellow b">修复枪械</span>，这两项功能的区别请继续阅读下面的内容。<br>
</p>
<p>
<span class="clan">·【改造枪械】：</span><br>
改造枪械除了需要玩家装备的武器为射系武器外，还需要玩家背包内存在一种<span class="yellow b">类型为枪械部件</span>的道具。<br>
选择好要为枪械添加的部件并提交后，系统会计算出<span class="yellow b">改造的成功率</span>，并询问是否<span class="yellow b">确认</span>要进行改造。<br>
改造成功会使武器拥有<span class="yellow b">枪械部件上<span class="red b">“与武器已有属性不重复”</span>的属性</span>，并<span class="yellow b">增加一定的效果</span>（取决于枪械部件的效果和为武器添加的属性）。<br>
改造失败会使武器<span class="yellow b">降低一定的效果</span>，并且有<span class="red b">低于3%</span>的概率使武器带上<span class="yellow b">一发</span>属性。<br>
<span class="clan">·【修复枪械】：</span><br>
修复枪械除了需要玩家装备的武器为射系武器外，还需要玩家背包内存在名为<span class="yellow b">一堆废铁/非法枪械部件/某种机械设备</span>的三种道具中的任意一种（后两种会增加修复的成功率）。<br>
玩家可以选择<span class="yellow b">增加武器的效果</span>，或是<span class="yellow b">去除武器上的某个属性（比如一发、多重）</span>，<br>
选择好要修复的内容并提交后，会<span class="yellow b">直接开始修复</span>，所以提交之前要考虑好。<br>
修复失败后，会导致武器的效果<span class="red b">大量下降</span>，但是不会使武器损坏。<br>
</p>
<p>
<a href="./aboutransforgun.md" target="_blank"><span class="lime b">【 >>> 这里是枪械改造成功率计算方式，请有需要的玩家请点击后自行阅读 <<< 】</span></a><br>
</p>
</p>
<hr>
<p>
<a name="陷阱改造"><font size="3" class="seagreen b"><b>和田町研究所 - 陷阱改造：</b></font></a><br>
<p>
当玩家的位置处于和田町研究所时，菜单界面下方会出现一个较宽的按钮，上面写着“陷阱改装工作台”。<br>
使用该功能，可以让玩家对背包中的<span class="yellow b">陷阱或爆炸物</span>进行改造。<br>
改造分为<span class="yellow b">改造陷阱</span>和<span class="yellow b">改造爆炸物</span>，这两项功能的区别请继续阅读下面的内容。<br>
</p>
<p>
<span class="clan">·【改造陷阱】：</span><br>
改造陷阱需要玩家背包内存在<span class="yellow b">类型为陷阱</span>的道具。<br>
选择好背包内的一种陷阱并提交后可以将该陷阱<span class="red b">全部</span>改造成<span class="yellow b">可装备的爆炸物武器</span>。<br>
改造成功会得到效果<span class="yellow b">与陷阱效果基本一致</span>，耐久<span class="yellow b">与陷阱耐久一致</span>，属性为<span class="yellow b">爆炸</span>的<span class="yellow b">爆炸物武器</span>。<br>
改造失败会会导致玩家受到<span class="red b">与陷阱效果相关的伤害</span>，严重者还会导致<span class="red b">死亡</span>。<br>
改造陷阱前，系统会计算出<span class="yellow b">改造的成功率</span>。该成功率与玩家的<span class="yellow b">爆系熟练</span>有关。<br>
<span class="clan">·【改造爆炸物】：</span><br>
改造爆炸物需要玩家背包内存在<span class="yellow b">类型为爆炸物</span>的道具。<br>
选择好背包内的一种爆炸物并提交后可以将该爆炸物<span class="red b">全部</span>改造成<span class="yellow b">陷阱</span>。<br>
改造成功会得到效果为<span class="yellow b">武器效果乘以耐久（耐久大于5或为∞均按5处理）</span>，耐久固定为<span class="yellow b">1</span>的<span class="yellow b">陷阱</span>。<br>
改造失败会会导致玩家受到<span class="red b">与陷阱效果相关的伤害</span>，严重者还会导致<span class="red b">死亡</span>。<br>
改造爆炸物前，系统会计算出<span class="yellow b">改造的成功率</span>。该成功率与玩家的<span class="yellow b">爆系熟练</span>有关。<br>
</p>
</p>
<hr>
</p>

<p>
<font size="4" class="seagreen b"><b> · 特殊道具模块：</b></font><br>
<p>
特殊道具就是那些新添加的道具类别。<br>
想了解它们都有什么作用，请继续阅读下方的内容：<br>
</p>
<hr>
<p>
<a name="枪械部件"><font size="3" class="seagreen b"><b>道具 - 枪械部件：</b></font></a><br>
<p>
枪械部件是一种可使用道具，如果玩家装备的武器为射系武器的话，就可以为武器上添加属性。<br>
开启<span class="yellow b">弹药盒</span>或<span class="yellow b">军火盒</span>可以直接获得枪械部件，<br>
弹药盒、军火盒、枪械部件，都可以通过<span class="yellow b">商店购买/NPC掉落/地图刷新</span>等方式获得。<br>
更详细的介绍，请参考【<A href="Campfire_new_features.php#areafeatures_transforgun">·<span class="yellow b">【枪械工作台 - 改造枪械】</span></A>】<br>
直接使用与在F前进行改造的区别为，直接使用的成功率上限为<span class="yellow b">75%</span>，且工作台能提供额外的初始成功率。<br>
</p>
</p>
<hr>
<a name="精密仪器"><font size="3" class="seagreen b"><b>道具 - 精密仪器：</b></font></a><br>
<p>
精密仪器是一种可使用道具，不同类的精密仪器往往具有不同效果。以下是游戏中常见的精密仪器介绍：<br>
·> <span class="yellow b">便携式控制中心子端</span>：在无月之影的游戏控制台处拷贝的子端，作用请看上文。<br>
·> <span class="yellow b">动力装甲修复工具</span>：可在商店中购买的道具，用于增加各个部位动力装甲的耐久值。<br>
·> <span class="yellow b">迷你纺织者「睡美人」</span>：可在商店中购买的道具，用于增加身体防具的效果值，可以对带有菁英属性的防具及动力装甲生效。<br>
·> <span class="yellow b">再启动指令集</span>：在商店中购买的道具，仅在场上只剩下一名幸存者的非房间模式（荣誉、极速模式可使用）下才可使用，可以快速结束游戏。<br>附加条件：A、允许加入游戏时，游戏已开局10分钟以上，使用者未选择称号；B、不可加入游戏时，游戏已开局30分钟以上。<br>
</p>
<hr>
<a name="动力装甲"><font size="3" class="seagreen b"><b>防具 - 动力装甲：</b></font></a><br>
<p>
动力装甲是一种可装备护甲，目前可以通过特殊NPC掉落的方式获得。<br>
装备动力装甲时，玩家可根据<span class="yellow b">装备的部位数量</span>与<span class="yellow b">动力装甲的等级</span>获得<span class="yellow b">最高80%的伤害减免</span>，当然这些伤害减免是需要<span class="yellow b">消耗动力装甲的耐久</span>来抵消的。<br>
值得注意的是，如果装备的防具中带有<span class="yellow b">控血</span>属性的话，动力装甲伤害减免的判定是在<span class="yellow b">控血生效后</span>进行的。<br>
除了抵消伤害的功能外，不同部位的动力装甲还能提供以下的额外效果：<br>
身体装甲：装备后可减少在抵消伤害时降低的耐久量；<br>
头部装甲：在作战/偷袭/强袭状态下增加你的发现率、遇敌率与先手率；在探索状态下，增加你的道具发现率；<br>
手部装甲：增加你攻击时的命中率；<br>
腿部装甲：降低你移动和探索时消耗的体力；<br>
不同等级的动力装甲每件可提供的减伤比率分别为：T-20/S-17/A-13/B-9/C-4/O-3<br>
</p>
<hr>
<p>
<a name="传送设备"><font size="3" class="seagreen b"><b>道具 - 传送设备：</b></font></a><br>
<p>
传送设备是一种可使用道具，如果传送器属性有效（玩家不可见）的话，会将玩家传送到指定位置。<br>
属性为空或无效的情况下，会将玩家传送至<span class="yellow b">当前地图上未被禁区的区域</span>。<br>
目前的获得方式为：<span class="yellow b">无</span>。<br>
</p>
</p>
<hr>

<p>
<font size="4" class="seagreen b"><b> · 道具类资源层杂项：</b></font><br>
<p>
这部分介绍新增及修改的合成、商店道具、地图物品以及新增的属性。<br>
想了解这些新增的内容，请继续往下阅读：<br>
</p>
<hr>
<p>
<a name="合成"><font size="3" class="seagreen b"><b> · 新增及修改合成：</b></font></a><br>
<p>
新增：<br>
·> <span class="yellow b">窜 天 猴</span>：<span class="yellow b">使用地雷与打火机就能快速合成的天气更改道具</span>。使用可将当前天气更改为<span class="red b">大晴</span>。<br>
·> <span class="yellow b">鸳鸯锅「涮鱼」</span>：<span class="yellow b">使用两种鱼合成</span>的精美补给品。<span class="red b">“鸳鸯锅是我最后的底线。”——■■人</span><br>
·> <span class="yellow b">？？？</span>：使用<span class="yellow b">荣耀+光辉、虔诚+奉献、或是将四种结合在一起</span>可获得的迷之饰品，虽然不能透露属性，但那是能让成功合成的玩家激动的流下眼泪的珍贵道具。<br>
<br>以上新增道具的具体数值和属性可于<span class="yellow b">游戏帮助的道具合成</span>中查看。<br>
</p>
</p>
<hr>
<p>
<a name="商店道具"><font size="3" class="seagreen b"><b> · 新增及修改商店道具：</b></font></a><br>
<p>
<span class="lightpink">·【恶鱼■■特供】：</span><br>
这是G.S.D后勤部从迷之供货源中获得的进货表单……表单上的道具目前正在幻境系统中试售。<br>
这些道具对于改善你的游戏体验<span class="grey"><del>大概</del></span>很有帮助！<br>
新增：<br>
·> <span class="yellow b">油炖萌物「石斑」</span>：库存为3的<span class="red b">无限量</span>生命恢复道具！<br>
·> <span class="yellow b">油炖萌物「金鲤」</span>：库存为3的<span class="red b">无限量</span>体力恢复道具！<br>
<A href="https://www.bilibili.com/video/av10864216">·> <span class="yellow b">都是按照基本定律</span>：在幻境模因库中非常流行的歌曲，教给了年轻人很多经验，可以增加你的歌魂。</a><br>
<A href="https://www.bilibili.com/video/av2029310">·> <span class="yellow b">六兆年的弃坑大法</span>：在幻境模因库中非常流行的歌曲，挽救了许多因切糕抽卡11连C而想要放弃游戏的非洲参战者，可以恢复你的歌魂。</a><br>
·> <span class="yellow b">普通的弹药盒</span>、<span class="yellow b">朴素的军火箱</span>：装有许多枪械改装部件的盒子，但里面装着什么在打开之前没人知道。<br>
·> <span class="yellow b">能量核心</span>：可以给幻境系统中一些特殊装置提供能源的道具。<br>
·> <span class="yellow b">★单抽出货神话★</span>：你相信神话吗……？<br>
·> <span class="yellow b">动力装甲修复工具</span>：该工具是一个约莫成年人手掌大小，通体银白的长方体金属盒，底部有一个红色按钮，掀开盒盖后，有一处标有“素材投入口”的凹槽。具体作用请见上文“电子仪器”栏。<br>
   <span class="yellow b">金属材料</span>：一根手指大小、能看到奇妙纹理的金属棒，似乎是以特殊工艺将金属压缩后的产物。能用来填充动力装甲修复工具。<br>
·> <span class="yellow b">迷你纺织者「睡美人」</span>：约两臂宽的纺锤状物体，顶部可以打开用于投料。具体作用请见上文“电子仪器”栏。<br>
·> <span class="yellow b">天空熔炉的锻者之魂</span>：<span class="yellow b">消耗品</span>。可将当前装备武器更改为<span class="yellow b">熟练度最高的类别</span>。<br>
·> <span class="yellow b">天空熔炉的远古之魂</span>：<span class="yellow b">消耗品</span>。可固定增加当前装备武器的<span class="yellow b">1.5倍效果</span>。<br>
<br>以上新增道具的具体数值和价格可在游戏内于<span class="yellow b">商店</span>中查看。<br>
</p>
</p>
<hr>
<p>
<a name="属性"><font size="3" class="seagreen b"><b>新增属性：</b></font></a><br>
<p>
·> <span class="clan">·【扩容】：</span><br>
该属性可通过<span class="yellow b">枪械部件</span>添加到武器上。<br>
拥有<span class="yellow b">扩容</span>属性的武器，弹药上限在<span class="yellow b">原上限翻倍</span>的基础上再加<span class="yellow b">20</span>。<br>
</p>
</p>
<hr>

</p>

</p>
</div>

{template footer}