{template header}
<br>

<div style="width:50%; margin:0 auto; text-align:left">
<br>
<font size="5" class="orange"><b>NEWD.T.S CampfireMOD 特性介绍 兼 更新日志</b></font><br>
<font size="2" class="grey">About this Coulorful MOD - The CampfireMOD</font><br><br>
<hr><br>
<img src="./img/campfire_notrubbit.gif" style="float:left"/>
<audio autoplay="autoplay" loop="loop" controls="controls">
<source src="img/other/changelog.mp3" type="audio/mpeg">
<source src="img/other/changelog.ogg" type="audio/ogg">
</audio>
<span class="yellow b"><br><br>“呀……突然让在下来担当解说什么的……实在太难为豚啦……”<br>
“在下可是完全不知道情况……啊啊……你说已经开始录制了……！？”</span><br>
<div style="clear:both;"></div><br>
<hr>
<p>
<span class="yellow b">
咳咳，那么，这里就由在下来为大家介绍一下CampfireMOD所包含的功能，以及本服的特色吧。<br>
首先需要介绍的，就是CampfireMOD所添加的一些新内容，它们分别是（点击内容名称可以快速跳转）：<br>
</span><br>
<TABLE border="1" frame="border" class=menutbl cellSpacing=0 cellPadding=0 style="BORDER-COLLAPSE:collapse width:50%" >
	<TBODY>
		<tr>
			<td class="b1" style="width:20%" >
				<span>所属模块</span>
			</td>
			<td class="b1" style="width:50%" >
				<span>模块功能</span>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>区域功能模块</span>
			</td>
			<td class="b3" style="text-align:left">
				<A href="changelog.php#areafeatures_etconsole">·<span>【无月之影 - 控制台】</span></A>／
				<A href="changelog.php#areafeatures_depot">·<span>【精灵中心 - 储物仓库】</span></A>／
				<A href="changelog.php#areafeatures_transforgun">·<span>【FARGO前基地 - 枪械工坊】</span></A>/
				<A href="changelog.php#remakemine">·<span>【和田町研究所 - 陷阱改造】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>特殊道具模块</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="changelog.php#itemrg">·<span>【道具 - 枪械部件】</span></A>／  
				<A href="changelog.php#itemrt">·<span>【道具 - 传送器】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>道具类资源层杂项</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="changelog.php#合成">·<span>【新增及修改合成】</span></A>／  
				<A href="changelog.php#商店道具">·<span>【新增及修改商店道具】</span></A>／  
				<A href="changelog.php#属性">·<span>【新增属性】</span></A>／  
				<A href="changelog.php#地图掉落">·<span>【新增及修改地图物品】</span></A>
			</td>
		</tr>
		<tr>
			<td class="b1">
				<span>NPC类资源层杂项</span>
			</td>
			<td class="b3"style="text-align:left">
				<A href="changelog.php#NPC">·<span>【新增及修改NPC】</span></A>／  
				<A href="changelog.php#地图">·<span>【新增及修改地图】</span></A>  
			</td>
		</tr>
	</TBODY>
</TABLE>
</p>
<hr>
<p>
<font size="4" class="seagreen b"><b> · 区域功能模块：</b></font><br>
<p>
区域功能模块是一个让每个地图拥有自己特殊功能的模组。<br>
想了解每个地图的详细功能，请继续阅读下方的内容：<br>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="areafeatures_etconsole"><font size="3" class="seagreen b"><b>无月之影 - 控制台：</b></font></a><br>
<p>
当玩家的位置处于无月之影时，菜单界面下方会出现一个较宽的按钮，上面写着“幻境系统控制台”。<br>
要激活控制台功能，需要同时满足两个条件：<br>
 <span class="yellow b">·> 1、NPC红暮已被击败<br>
·> 2、玩家身上必须至少有一个名为“能量核心”的道具，能量核心会在1禁后的商店 - 电子设备中出售<br></span>
当玩家满足这两个条件时，就可以点击按钮，激活控制台的操作面板了。<br>
</p>
<p>
无月之影的控制台提供了以下功能：<br>
<span class="clan">·【天气模拟功能】：</span><br>
该功能会为玩家提供一个可以选择所有天气的列表，玩家在选择并提交后可以立刻修改当前游戏的天气至所选天气。<br>
<span class="clan">·【限定解除功能】：</span><br>
选择该功能后，会使当前游戏进入<span class="yellow b">限定解除状态</span>，若已处于该状态，可以<span class="yellow b">关闭</span>限定解除状态。<br>
限定解除状态下，游戏<span class="red b">不会</span>进入<span class="yellow b">连斗状态</span>，关闭后，则游戏状态会回归正常。<br>
但是要注意，在该状态下当场上<span class="yellow b">只有一名玩家存在</span>时游戏会<span class="red b">立刻结束</span>！<br>
<span class="clan">·【资料查找功能】：</span><br>
选择该功能后，该功能会为玩家提供四种资料类别，<br>
即<span class="yellow b">查找NPC、查找玩家、查找道具和查找陷阱</span>。<br>
玩家在选择并输入要查找资料的名称并提交后，可以查找到对应的内容，具体操作方式在游戏中有详细的说明。<br>
<span class="clan">·【生成原始数据】：</span><br>
选择该功能后，系统会在预设的列表中随机抽取<span class="yellow b">2种NPC</span>，并加入到游戏中，<br>
这些NPC有一些源自于玩家的投稿，因此它们的<span class="yellow b">强弱平衡</span>，<span class="yellow b">掉落的道具好坏</span>，都是<span class="red b">无法确定</span>的！<br>
还有一些，则是<span class="yellow b">强度较弱</span>，但是<span class="yellow b">掉落的道具比较好</span>的<span class="yellow b">福利</span>性NPC。二者在可召唤出NPC的列表中的比例大概是<span class="yellow b">2:1</span>。<br>
因此，请自行斟酌是否要使用本功能。<br>
<span class="clan">·【拷贝便携子端】：</span><br>
选择该功能后，玩家会获得一个名叫便携子端的道具，该道具可无限次使用。<br>
使用该道具，可以让<span class="yellow b">下一次禁区提前到来</span>，或者立刻<span class="yellow b">解除当前的禁区</span>。<br>
以及你可以将它当做<span class="yellow b">最强的电子雷达</span>来使用！<br>
</p>
在不满足条件1的情况下，使用该控制台，可能会导致不可预料的后果……<br>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="areafeatures_depot"><font size="3" class="seagreen b"><b>精灵中心 - 储物仓库：</b></font></a><br>
<p>
当玩家的位置处于精灵中心时，菜单界面下方会出现一个较宽的按钮，上面写着“道具存取查询台”。<br>
该仓库会为玩家提供<span class="yellow b">存放道具</span>和<span class="yellow b">取出道具</span>的功能，但每次存取都会收取<span class="yellow b">手续费</span>和<span class="yellow b">保管费</span>。<br>
所有玩家的仓库皆<span class="yellow b">独立</span>，其他人无法看到也无法取出你存入的道具。<br>
玩家存入的同类型道具<span class="yellow b">不会叠加</span>，需要玩家在存放前自行进行整理。<br>
可存放的道具的数量<span class="yellow b">具有上限</span>，该上限和手续费、保管费随时会发生变化，所以请到游戏内自行确认。<br>
</p>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="areafeatures_transforgun"><font size="3" class="seagreen b"><b>FARGO前基地 - 枪械工坊：</b></font></a><br>
<p>
当玩家的位置处于精灵中心时，菜单界面下方会出现一个较宽的按钮，上面写着“枪械改造工作台”。<br>
使用该功能，可以让玩家对装备上的<span class="yellow b">射系武器（远程武器、重型枪械、枪刃、重炮）</span>进行改造。<br>
改造分为<span class="yellow b">改造枪械</span>和<span class="yellow b">修复枪械</span>，这两项功能的区别请继续阅读下面的内容。<br>
</p>
<p>
<span class="clan">·【改造枪械】：</span><br>
改造枪械除了需要玩家装备的武器为射系武器外，还需要玩家背包内存在一种<span class="yellow b">类型为枪械部件</span>的道具。<br>
选择好要为枪械添加的部件并提交后，系统会计算出<span class="yellow b">改造的成功率</span>，并询问是否<span class="yellow b">确认</span>要进行改造。<br>
改造成功会使武器拥有<span class="yellow b">枪械部件上<span class="red b">“与武器已有属性不重复”</span>的属性</span>，并<span class="yellow b">增加一定的效果</span>（取决于枪械部件的效果和为武器添加的属性）。<br>
改造失败会使武器<span class="yellow b">降低一定的效果</span>，并且有<span class="red b">低于3%</span>的概率使武器带上<span class="yellow b">一发</span>属性。<br>
<span class="clan">·【修复枪械】：</span><br>
修复枪械除了需要玩家装备的武器为射系武器外，还需要玩家背包内存在名为<span class="yellow b">一堆废铁/非法枪械部件/某种机械设备</span>的三种道具中的任意一种（后两种会增加修复的成功率）。<br>
玩家可以选择<span class="yellow b">增加武器的效果</span>，或是<span class="yellow b">去除武器上的某个属性（比如一发、多重）</span>，<br>
选择好要修复的内容并提交后，会<span class="yellow b">直接开始修复</span>，所以提交之前要考虑好。<br>
修复失败后，会导致武器的效果<span class="red b">大量下降</span>，但是不会使武器损坏。<br>
</p>
<p>
<a href="./aboutransforgun" target="_blank"><span class="yellow b">枪械改造成功率计算方式，请有需要的玩家自行阅读</span></a><br>
</p>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="remakemine"><font size="3" class="seagreen b"><b>和田町研究所 - 陷阱改造：</b></font></a><br>
<p>
当玩家的位置处于和田町研究所时，菜单界面下方会出现一个较宽的按钮，上面写着“陷阱改装工作台”。<br>
使用该功能，可以让玩家对背包中的<span class="yellow b">陷阱或爆炸物</span>进行改造。<br>
改造分为<span class="yellow b">改造陷阱</span>和<span class="yellow b">改造爆炸物</span>，这两项功能的区别请继续阅读下面的内容。<br>
</p>
<p>
<span class="clan">·【改造陷阱】：</span><br>
改造陷阱需要玩家背包内存在<span class="yellow b">类型为陷阱</span>的道具。<br>
选择好背包内的一种陷阱并提交后可以将该陷阱<span class="red b">全部</span>改造成<span class="yellow b">可装备的爆炸物武器</span>。<br>
改造成功会得到效果<span class="yellow b">与陷阱效果基本一致</span>，耐久<span class="yellow b">与陷阱耐久一致</span>，属性为<span class="yellow b">爆炸</span>的<span class="yellow b">爆炸物武器</span>。<br>
改造失败会会导致玩家受到<span class="red b">与陷阱效果相关的伤害</span>，严重者还会导致<span class="red b">死亡</span>。<br>
改造陷阱前，系统会计算出<span class="yellow b">改造的成功率</span>。该成功率与玩家的<span class="yellow b">爆系熟练</span>有关。<br>
<span class="clan">·【改造爆炸物】：</span><br>
改造爆炸物需要玩家背包内存在<span class="yellow b">类型为爆炸物</span>的道具。<br>
选择好背包内的一种爆炸物并提交后可以将该爆炸物<span class="red b">全部</span>改造成<span class="yellow b">陷阱</span>。<br>
改造成功会得到效果为<span class="yellow b">武器效果乘以耐久（耐久大于5或为∞均按5处理）</span>，耐久固定为<span class="yellow b">1</span>的<span class="yellow b">陷阱</span>。<br>
改造失败会会导致玩家受到<span class="red b">与陷阱效果相关的伤害</span>，严重者还会导致<span class="red b">死亡</span>。<br>
改造爆炸物前，系统会计算出<span class="yellow b">改造的成功率</span>。该成功率与玩家的<span class="yellow b">爆系熟练</span>有关。<br>
</p>
</p>
<p>————————————————————————————————————————————</p>
</p>

<p>
<font size="4" class="seagreen b"><b> · 特殊道具模块：</b></font><br>
<p>
特殊道具就是那些新添加的道具类别。<br>
想了解它们都有什么作用，请继续阅读下方的内容：<br>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="itemrg"><font size="3" class="seagreen b"><b>道具 - 枪械部件：</b></font></a><br>
<p>
枪械部件是一种可使用道具，如果玩家装备的武器为射系武器的话，就可以为武器上添加属性。<br>
开启<span class="yellow b">弹药盒</span>或<span class="yellow b">军火盒</span>可以直接获得枪械部件，<br>
弹药盒、军火盒、枪械部件，都可以通过<span class="yellow b">商店购买/NPC掉落/地图刷新</span>等方式获得。<br>
更详细的介绍，请参考【<A href="changelog.php#areafeatures_transforgun">·<span class="yellow b">【枪械工作台 - 改造枪械】</span></A>】<br>
直接使用与在F前进行改造的区别为，直接使用的成功率上限为<span class="yellow b">75%</span><br>
</p>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="itemrt"><font size="3" class="seagreen b"><b>道具 - 传送设备：</b></font></a><br>
<p>
传送设备是一种可使用道具，如果传送器属性有效（玩家不可见）的话，会将玩家传送到指定位置。<br>
属性为空或无效的情况下，会将玩家传送至<span class="yellow b">当前地图上未被禁区的区域</span>。<br>
目前的获得方式为：<span class="yellow b">木有</span>。<br>
</p>
</p>
<p>————————————————————————————————————————————</p>

<p>
<font size="4" class="seagreen b"><b> · 道具类资源层杂项：</b></font><br>
<p>
这部分介绍新增及修改的合成、商店道具、地图物品以及新增的属性。<br>
想了解这些新增的内容，请继续往下阅读：<br>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="newmixitem"><font size="3" class="seagreen b"><b> · 新增及修改合成：</b></font></a><br>
<p>
<span class="clan">·补给品合成：</span><br>
·> 新增：<span class="yellow b">应急储备粮</span><br>
·> 新增：<span class="yellow b">健康储备粮</span><br>
·> 修改：<span class="yellow b">更改菜谱后的不甜酱包（无毒）</span>（<span class="red b">所以到底修改了什么啊？</span>）。<br>
<span class="clan">·殴系武器：</span><br>
·> 新增：<span class="yellow b">★悔悟之棒★</span>。<br>
<span class="clan">·爆系武器：</span><br>
·> 新增：<span class="yellow b">★冰枪术★</span>。<br>
<span class="clan">·其他道具：</span><br>
·> 新增：<span class="yellow b">土制二踢脚（？）</span>。<br>
*<span class="yellow b">土制二踢脚（？）</span>：<span class="yellow b">消耗品</span>。可将当前天气更改为<span class="red b">晴天</span>。<br>
<span class="clan">·方块系道具：</span><br>
新增：<span class="yellow b">★无极★</span>。<br>
具体数值和属性可于<span class="yellow b">游戏帮助的道具合成</span>中查看。<br>
</p>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="newshopitem"><font size="3" class="seagreen b"><b> · 新增及修改商店道具：</b></font></a><br>
<p>
<span class="lightpink">·【恶鱼■■特供】：</span><br>
G.S.D后勤部从新来的神秘经销商手中拿到的迷之供货源……现在正在幻境系统中尝试出售。<br>
这些道具对于改善你的游戏体验<span class="grey"><del>大概</del></span>很有帮助！<br>
·> 新增：<span class="yellow b">油炖萌物「石斑」</span>：库存仅为1的<span class="red b">无限量</span>生命恢复道具！<br>
·> 新增：<span class="yellow b">油炖萌物「金鲤」</span>：库存仅为1的<span class="red b">无限量</span>体力恢复道具！<br>
·> 新增：<span class="yellow b">每只虾360元的炸虾饭</span>：看起来很贵但是绝对不是在宰人的恢复道具！<br>
·> 新增：<span class="yellow b">都是按照基本定律</span>：在幻境模因库中非常流行的歌曲，教给了年轻人很多经验，可以增加你的歌魂。<br>
·> 新增：<span class="yellow b">六兆年的弃坑大法</span>：在幻境模因库中非常流行的歌曲，挽救了许多因切糕抽卡11连C而想要放弃游戏的非洲参战者，可以恢复你的歌魂。<br>
·> 新增：<span class="yellow b">普通的弹药盒</span>、<span class="yellow b">朴素的军火箱</span>：装有许多枪械改装部件的盒子，但里面装着什么在打开之前没人知道。<br>
·> 新增：<span class="yellow b">能量核心</span>：可以给幻境系统中一些特殊装置提供能源的道具。<br>
·> 新增：<span class="yellow b">★单抽出货神话★</span>：你相信神话吗……？<br>
·> 新增：<span class="yellow b">动力装甲修复工具</span>、<span class="yellow b">金属材料</span>：动力装甲修复工具可以为动力装甲恢复耐久，需要填充特殊金属材料才能使用。<br>
·> 新增：<span class="yellow b">天空熔炉的锻者之魂</span>：<span class="yellow b">消耗品</span>。可将当前装备武器更改为<span class="yellow b">熟练度最高的类别</span>。<br>
·> 新增：<span class="yellow b">天空熔炉的远古之魂</span>：<span class="yellow b">消耗品</span>。可增加当前装备武器的<span class="yellow b">效果</span>或<span class="yellow b">耐久</span>，并且有一定概率将其类别更改为对应的<span class="yellow b">上位类别</span>（例如将远程武器更改为重型枪械）。<br>
以上新增道具的具体数值和价格可在游戏内于<span class="yellow b">商店</span>中查看。<br>
</p>
</p>
<p>————————————————————————————————————————————</p>
<p>
<a name="newspk"><font size="3" class="seagreen b"><b>新增属性：</b></font></a><br>
<p>
·> <span class="clan">·【扩容】：</span><br>
该属性可通过<span class="yellow b">枪械部件</span>添加到武器上。<br>
拥有<span class="yellow b">扩容</span>属性的武器，弹药上限在<span class="yellow b">原上限翻倍</span>的基础上再加<span class="yellow b">20</span>。<br>
</p>
</p>
<p>————————————————————————————————————————————</p>

</p>

</p>
</div>

{template footer}