<option value="main">■ 移动 ■</option>
<optgroup label="移动地点列表：">
<!--{if (in_array($pls,$hidden_arealist))}-->
	<!--{loop array_keys($h_a_group) $hagnum}-->
	<!--{if in_array($pls,array_keys($h_a_group[$hagnum]))}-->
		<!--{if $pls == $hanum}--><optgroup label="■ 现在位置 ■">
		<!--{else}--><option value="$hanum">$value($xyinfo[$hanum])</option>
		<!--{/if}-->
	<!--{/if}-->
	<!--{/loop}-->		
<!--{else}-->
	<!--{loop $plsinfo $key $value}-->
	<!--{if ((array_search($key,$arealist) > $areanum || $hack) && (!in_array($key,$hidden_arealist)))}-->
		<!--{if $pls == $key}--><optgroup label="■ 现在位置 ■">
		<!--{else}--><option value="$key">$value($xyinfo[$key])</option>
		<!--{/if}-->
	<!--{/if}-->
	<!--{/loop}-->
<!--{/if}-->